<footer>
    <p>Thanks for visiting!!.</p>
    <div class="social-icons">
        <a href="mailto:nimmafotugrapher@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
        <a href="https://www.instagram.com/nimmafotugrapher/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://x.com/MrAkash00?t=_umSum0NUsOxAGrcBB9qIw&s=08" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://discord.com/users/nimafotugrapher" target="_blank"><i class="fab fa-discord"></i></a>
    </div>
</footer>
